<ion-item (click)="link.action" type = "submit" [href]="link.url" routerDirection="forward">
	<ion-icon [name]="link.icon" slot="start"></ion-icon>
	<ion-label *ngIf="link.check">{{link.title}}</ion-label>
</ion-item>
