ion-item {
    width: 95%;
    margin: 10px auto;
    font-weight: bold;
}

:host {
    ion-item {
		width: 95%;
		font-weight: bold;
		margin: 5px auto;
    }
	ion-label {
		background-color: medium;
		color: tertiary;
	}
}

ion-checkbox{
       background: #FFFFFF;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 4px;
        border-color : brown !important;
        --height : 2px;
        --width: 2px;
        --checkmark-color:blue;
        --background-checked: #FFFFFF;
        --border-color: #FFFFFF;
        --border-color-checked :#FFFFFF;
}

.my-custom-modal-css .modal-wrapper {
   height: 90%;
   width: 90%;
   position: absolute;
   display: block;
}

button {
	.button-native {
		color: tertiary;
	}
}

.selector {
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: left;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
  }

  .option {
    font-size: 8px;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 25% !important;
    max-width: 100% !important;
    justify-content: center;
    height: 20px;
  }


ion-option .list{
    font-size: 8px !important;
    max-width: 100% !important;
}
 .ion-option-items .item{
    font-size: 8px !important;
    max-width: 100% !important;
  }
 .select-alert {
    font-size: 8px !important;
    max-width: 100% !important;
  }
