<ion-header>
  <ion-toolbar>
	  <ion-title>{{action}} {{title}}</ion-title>
	  <ion-button type=submit (click)="cancel()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup] = "changeForm" >
		<ion-item >
			<ion-label text-capitalize position=stacked >Name (3 - 10 characters)</ion-label>
			<ion-input  formControlName=name placeholder="Enter name"  type="text"></ion-input>
		</ion-item>
		<ion-list lines="none" >
		  <div *ngFor="let field of changeForm.controls| keyvalue">
			<ion-item *ngIf="field.key !== 'name' && field.key !== 'id' && field.key !== 'phones' && field.key !== 'entity_id' && field.key !== 'serviced_by_entity_id' && field.key !== 'entity_type'">
				<ion-label text-capitalize position=stacked >{{field.key}}</ion-label>
				<ion-input  formControlName={{field.key}} placeholder="Enter {{field.key}}"  type="text"></ion-input>
			</ion-item>
			<div *ngIf="field.key === 'phones'" formArrayName = "phones">
			  <div *ngFor = "let option of changeForm.get('phones').controls; let i = index" >
				  <ion-item>
					<ion-label position=stacked >Phone {{i + 1}}(Prefix with +country code)</ion-label>
					  <ion-input [formControlName]="i" placeholder="+91xxxxxxxxxx"  type="text"></ion-input>
				  </ion-item>
				  <div class="validation-errors">
					  <ng-container *ngFor="let validation of customvalidator.validation_messages[field.key]">
						  <div class="error-message" *ngIf="changeForm.get(field.key).at(i).hasError(validation.type) && (changeForm.get(field.key).at(i).dirty || changeForm.get(field.key).at(i).touched)">
							  {{ validation.message }}
						  </div>
					  </ng-container>
				  </div>
			  </div>
			</div>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of customvalidator.validation_messages[field.key]">
					<div class="error-message" *ngIf="changeForm.get(field.key).hasError(validation.type) && (changeForm.get(field.key).dirty || changeForm.get(field.key).touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
		  </div>
	    </ion-list>
	   	<ion-button full [disabled]="!changeForm.valid" type=submit (click)="save()">Submit</ion-button>
	</form>
	<br />
  Form Value: {{ changeForm.value | json }}
</ion-content>
