<ion-header>
  <ion-toolbar color="primary">
	<!--ion-title>{{title}}</ion-title-->
	<ion-title>Operations</ion-title>
    <ion-buttons >
	  <ion-menu-button></ion-menu-button>
	  <ion-back-button slot="start" id="backButton" defaultHref="/"></ion-back-button>
	  <!--ion-button slot="end" fill="clear" (click)="handle_operation('Sync')"> 
		<ion-icon size="small" slot="icon-only" name="sync"></ion-icon> 
	  </ion-button-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list >
		<ion-item-group >
		<ion-item-divider color="secondary" >
		  <ion-label position = "stacked" text-capitalize>
			Start/Stop
			  <ion-button slot="end" fill="clear" (click)="handle_operation('Start')"> 
				<ion-icon size="small" slot="icon-only" name="play"></ion-icon> 
			  </ion-button>
			  <ion-button slot="end" fill="clear" (click)="handle_operation('Pause')"> 
				<ion-icon size="small" slot="icon-only" name="pause"></ion-icon> 
			  </ion-button>
		  </ion-label>
		</ion-item-divider>
		<!--div detail-none *ngFor="let row of data$ | async" >
			<div *ngIf="schema.id === row.cschema_id && user_entity_type <= schema.allowed_entity_type">
			  <ion-item>
				  <ion-button slot="end" fill="clear" (click)="handle_operation('Modify', row)"> 
					<ion-icon size="small" slot="icon-only" name="hammer"></ion-icon> 
				  </ion-button>
				  <ion-button slot="end" fill="clear" (click)="handle_operation('Copy', row)"> 
					<ion-icon size="small" slot="icon-only" name="copy"></ion-icon> 
				  </ion-button>
				  <ion-button slot="end" fill="clear" (click)="handle_operation('Delete', row )"> 
					<ion-icon  size="small" slot="icon-only" name="trash"></ion-icon> 
				  </ion-button>
				  <ion-button slot="end" fill="clear" (click)="applyview(row )"> 
					<ion-icon  size="small" slot="icon-only" name="arrow-round-forward"></ion-icon> 
				  </ion-button-->
				  <!--ion-button slot="end" fill="clear" > 
					  <ion-select  class="selector" item-end [(ngModel)] = "selectedsite" placeholder="Select Site">
						<ion-select-option  *ngFor="let item of sites$ | async" class="option" [value]="item" >{{item.name}}</ion-select-option>
					  </ion-select>
				  </ion-button-->
				<!--ion-label  position="fixed" (click)="labelClick($event, row['id'], row['type'])" routerDirection="forward">
				  {{row.name}}
				</ion-label-->
				<!--ion-button size="auto" fill="outline" slot="end" >
				  <ion-select  class="selector" item-end [(ngModel)] = "action" placeholder="Select Action" okText="Okay" cancelText="Dismiss" >
					<ion-select-option  class="option" value="Apply">Apply</ion-select-option>
				  </ion-select>
				</ion-button-->
				<!--ion-button  size="auto" fill="outline" slot="end" >
				  <ion-select  class="selector" item-end placeholder="Select Asset">
					  <ion-select-option  *ngFor="let item of assets$ | async" class="option" [value]="item" >{{item.name}}</ion-select-option>
				  </ion-select>
				</ion-button>
			  </ion-item>
			</div>
		</div-->
	  </ion-item-group>
	</ion-list>
</ion-content>
