<ion-content>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
		<ion-back-button  id="backButton" defaultHref="/home/entity"></ion-back-button>
    </ion-buttons>
	<ion-title>Home</ion-title>
	<ion-buttons slot="end">
		<ion-menu-button menuToggle auto-hide="false" menu="mainmenu"><ion-icon  name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <app-showdata> [json_data]="global.app_data | async" </app-showdata>
  <ion-router-outlet></ion-router-outlet>
  <!--app-showgrid> </app-showgrid-->
</ion-content>
