<ion-header>
  <ion-toolbar *ngIf ="title && action">
	<ion-title >{{action}} {{title}}  </ion-title>
	<ion-button type=submit (click)="cancel()">Close
		<ion-icon size="small" name="close"></ion-icon> 
	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

	<form *ngIf=(configForm) [formGroup]="configForm">
		<ion-list lines="none" style = "text-align: left">
		  <div *ngFor="let field of config; let i=index">
			<ion-item >
			  <ion-label *ngIf="field.valuetype === 'text'" position="floating" >{{field.label}} ({{field.minlength}} - {{field.maxlength}} characters) </ion-label>
			  <ion-label *ngIf="field.valuetype === 'number'" position="floating" >{{field.label}}  ({{field.min}} - {{field.max}})</ion-label>
			  <ion-label *ngIf="field.type ==='select' || field.type ==='cselect' || field.type ==='mselect'|| field.type ==='cmselect'|| field.type ==='time' || field.type ==='ctime' || field.type ==='datetime' || field.type ==='cdatetime' || field.type === 'cdynlist' || field.type === 'dynlist'" position="floating" >{{field.label}}</ion-label>
			  <ion-input *ngIf="field.type ==='cinput'"  placeholder="{{field.placeholder}}" [formControlName]="field.name" type="text"></ion-input>
			  <ion-datetime *ngIf="field.type === 'time' || field.type === 'ctime'" displayFormat="HH:mm" pickerFormat="HH mm" [formControlName]="field.name" ></ion-datetime>
			  <ion-datetime *ngIf="field.type === 'datetime' || field.type === 'cdatetime'" displayFormat="MMM DD, HH:mm" pickerFormat="DD HH mm" [formControlName]="field.name" ></ion-datetime>
			  <ion-input (ionSelect)="onSelectionChanged(field)" *ngIf="field.type ==='input'" placeholder="{{field.placeholder}}" [formControlName]="field.name" type="text"></ion-input>
			  <ion-label *ngIf="field.type ==='radio' || field.type ==='cradio'" >
				{{field.label}}
				<ion-radio [formControlName]="field.name" slot="start" name = "field.name" [checked]="configForm.get(field.name).value === true" [value]=true (ionSelect)="onSelectionChanged(field)"></ion-radio>
			  </ion-label>
			  <ion-label *ngIf="field.type ==='checkbox' || field.type ==='dcheckbox'" >
				{{field.label}}
				<ion-checkbox [formControlName]="field.name" slot="start" name = "field.name" [checked]="configForm.get(field.name).value === true" [value]=true (ionChange)="onSelectionChanged(field)"></ion-checkbox>
			  </ion-label>

			  <ion-select interface="alert" *ngIf="field.type ==='select' || field.type === 'cselect'" [formControlName]="field.name" (ionChange)="onSelectionChanged(field)">
				  <ion-select-option *ngFor="let option of field.options" value="{{option}}" >{{option}}</ion-select-option>
			  </ion-select>
			  <ion-select interface="alert" *ngIf="field.type ==='mselect' || field.type === 'cmselect'" multiple="true" [formControlName]="field.name" (ionChange)="onSelectionChanged(field)">
				  <ion-select-option *ngFor="let option of field.options" value="{{option}}">{{option}}</ion-select-option>
			  </ion-select>
			  <ion-button *ngIf="action !== 'View' && field.type === 'button'" [disabled]="!configForm.valid" type="{{field.name}}" (click)="save()">{{field.label}}</ion-button>
			</ion-item>
			<div *ngIf="field.type === 'cdynlist' || field.type === 'dynlist'" >
			  <div *ngIf="num_dynoptions > 0" >
				<div [formArrayName]="field.name">
				  <div *ngFor="let obj of configForm.get(field.name).controls; let j=index">
					<div *ngFor="let obj1 of dynlist_current.get(field.name)"  [formGroupName]="j">
					  <ion-item>
						<ion-select [placeholder]="obj1.dynlist_item" [formControlName]="obj1.dynlist_item" (ionChange)="onSelectionChanged(field)" >
							<ion-select-option *ngFor="let option1 of obj1.dynlist_list" [value]="option1.name">{{option1.name}}</ion-select-option>
						</ion-select>
					  </ion-item>
					</div>
					<div *ngFor="let obj1 of dynlist_current_oper.get(field.name)">
					  <ion-button *ngIf="obj1 == 'add'" size="small" fill="warning" slot="icon-only" [disabled]="configForm.get(field.name).invalid" type=submit (click)="rmItem(field, j)">
						<ion-icon size="small" name="trash"></ion-icon> 
					  </ion-button>
				    </div>
				  </div>
				</div>
				<div *ngFor="let obj1 of dynlist_current_oper.get(field.name)"  >
				  <ion-button  *ngIf="obj1 == 'add'" size="small" fill="solid" slot="icon-only" [disabled]="configForm.get(field.name).invalid" type=submit (click)="addItem(field)">Add
					<ion-icon size="small" name="add-circle-outline"></ion-icon> 
				  </ion-button>
				</div>
			  </div>
			</div>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of customvalidator.validation_messages[field.valuetype]">
				  <div *ngIf="field.type !== 'cdynlist' && field.type !== 'dynlist'" >
					<div class="error-message" *ngIf="configForm.get(field.name).hasError(validation.type) && (configForm.get(field.name).dirty || configForm.get(field.name).touched)">
						{{ validation.message }}
					</div>
				  </div>
				</ng-container>
			</div>
		  </div>
		</ion-list>
	</form>
	<br />
  <p *ngIf="configForm">
	  Form Value: {{ configForm.value | json }}
	  Form Status: {{ configForm.status }}
  </p>

</ion-content>
