.ios, .md {
  .my-custom-modal-css .modal-wrapper {
	   height: 80%;
	   width: 80%;
	   position: absolute;
	   display: block;
  }
    app-root {
	* {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
 	}

	a[href], ion-input[type='submit'], ion-label, ion-select, ion-button, .pointer {
		cursor: pointer;
	  }

	  .my-custom-modal-css .modal-wrapper {
		   height: 80%;
		   width: 80%;
		   position: absolute;
		   display: block;
	  }

	  .item {
		.sc-ion-label-md-h{
		  cursor: pointer;
		}
	  }


	.toast{
		    .toast-wrapper {
			    background: blue;
			    opacity: 0.8;
			    border-radius: 5px;
			    text-align: center;
			 }
			 .toast-message {
			    font-size: 3.0rem;
			    color: white;
			  }
	  }

	  ion-icon:hover, ion-label:hover {
		cursor: pointer;
	  }

      p {
            font-size: 0.8em;
            color: #d2d2d2;
        }

        .swiper-slide {
            display: block;
        }

        ion-label, .select-text {
            margin-left: 10px;
        }

        ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
			user-select: text;
        }

        .invalid {
            border: 1px solid #ea6153;
        }
    }
}

