// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ios, .md {

    :root {

        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }

        .swiper-slide {
            display: block;
        }

		.fixedLabel {
			min-width: 20% !important;
			max-width: 20% !important;
		}

        ion-label, .select-text {
            margin-left: 10px;
			max-width: 20% !important;
        }

        ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

        .invalid {
            border: 1px solid #ea6153;
        }

		ion-thumbnail {
			min-width: 1rem;
			min-height: 1rem;
			img {
				max-width: 3rem;
				min-width: 3rem;
			}
		}

		ion-item-divider{
		  margin-top: 0px;
		  min-height: 1px!important;
		}

    }

}

