{
  "name": "{{Name}} (Powered by ThingsCafe)",
  "short_name": "{{Name}}",
  "theme_color": "#1976d2",
  "background_color": "#fafafa",
  "display": "standalone",
  "scope": ".",
  "start_url": "./",
  "icons": [
    {
      "src": "assets/icons.{{orgName}}/icon-72x72.png",
      "sizes": "72x72",
      "type": "image/png"
    },
    {
      "src": "assets/icons.{{orgName}}/icon-96x96.png",
      "sizes": "96x96",
      "type": "image/png"
    },
    {
      "src": "assets/icons.{{orgName}}/icon-128x128.png",
      "sizes": "128x128",
      "type": "image/png"
    },
    {
      "src": "assets/icons.{{orgName}}/icon-144x144.png",
      "sizes": "144x144",
      "type": "image/png"
    },
    {
      "src": "assets/icons.{{orgName}}/icon-152x152.png",
      "sizes": "152x152",
      "type": "image/png"
    },
    {
      "src": "assets/icons.{{orgName}}/icon-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    }
  ]
}
