ion-icon {
   &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
   }
   &[class*="custom-group-icon"] {
      mask-image: url(/assets/img/icons/group-icon.svg);
   }
   &[class*="custom-search-icon"] {
      mask-image: url/assets/img/icons/search-icon.svg);
   }
}
