.ios, .md {
		.col { 
			background: gray; 
			border: think solid black; 
		}

        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }

		#container {
			width: 400px;
			margin-left:auto;
			margin-right: auto;
    	}

        .swiper-slide {
            display: block;
        }

        ion-label {
			text-align: center;
            margin-left: 10px;
			height: 60px;
			width : 300px;
        }

        ion-input, ion-select, ion-textarea {
			text-align: center;
            padding: 5px 10px;
        }

        .invalid {
            border: 1px solid #ea6153;
        }

		.col{
            font-size: 0.8em;
			justify-content: center;
			background: gray; 
			border: solid black; 
		}
}

