<ion-header>
  <ion-toolbar color="primary">
	  <ion-thumbnail slot="end">
		<ion-img [src]="'assets/' + global.appName + '.png'"></ion-img>
	  </ion-thumbnail>
	  <ion-title *ngIf ="action == ''">Settings  {{action}}</ion-title>
	  <ion-title *ngIf ="action !== ''" text-capitalize>{{action }}</ion-title>
	  <ion-back-button slot="start" id="backButton" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<!--ion-content padding style = "text-align: left"-->
<ion-content >
  <div *ngIf ="(authState$ | async) && action == 'account'" id="container">
      <!--ion-button color="tertiary" type="submit" href="home/entity" *ngIf ="(authState$ | async)" routerDirection="forward">Explorer</ion-button-->
	  <ion-grid >
		  <ion-row>
			  <ion-col col-12>My Account</ion-col>
		  </ion-row>
		  <ion-row justify-content-around *ngFor="let field of user_details | keyvalue">
			  <div *ngIf="field.key !== 'entity_id' && field.key !== 'id' && field.key !== 'kv' && field.key !== 'role' && field.key != 'search_text' && field.key != 'tags' && field.key !== 'saas_entity_name'" >
				  <ion-col col-4 text-capitalize>{{field.key}}</ion-col>
				  <ion-col col-8 >{{field.value}}</ion-col>
			  </div>
		  </ion-row>
	  </ion-grid>
	  <!--ion-button color="tertiary" type="submit" (click)="update_profile()" >Update Profile</ion-button-->
	  <ion-button color="tertiary" type="submit" (click)="onlogout()" >Sign out</ion-button>
	  <div *ngIf="entity_type_str === 'SAAS PROVIDER'">
		  <ion-button [disabled]="global.debug == true" color="tertiary" type="submit" (click)="set_tracing(true)" >Enable tracing</ion-button>
		  <ion-button [disabled]="global.debug == false" color="tertiary" type="submit" (click)="set_tracing(false)" >Disable tracing</ion-button>
		  <!--ion-button  color="tertiary" type="submit" (click)="labelClick($event)"> Profiles </ion-button-->
	  </div>
	  <form [formGroup]="password_form" >
		<ion-list style = "text-align: left">
			<ion-item style = "text-align :left">
				<ion-input type="password" formControlName="current" placeholder="Enter current password"></ion-input>
			</ion-item>
			<ion-item style = "text-align :left">
				<ion-input type="password" formControlName="newpass" placeholder="Enter new password"></ion-input>
			</ion-item>
			<ion-item style = "text-align :left">
				<ion-input type="password" formControlName="newpass1" placeholder="Enter new password" (keyup.enter)=change_passwd()></ion-input>
			</ion-item>
		</ion-list>
	  </form>
      <ion-button color="tertiary" type="submit" [disabled]="!password_form.valid" (click)="change_passwd()">Change password</ion-button>
  </div>
  <div *ngIf ="!(authState$ | async)" id="container">
	  <form [formGroup]="login_form" >
		<ion-list style = "text-align: left">
			<ion-item style = "text-align :left">
				<ion-input type="email" formControlName="username" placeholder="User Name"></ion-input>
			</ion-item>
			<ion-item style = "text-align :left" >
				<ion-input type="password" formControlName="password" placeholder="Enter password" (keyup.enter)="onlogin()"></ion-input>
			</ion-item>
		</ion-list>
	  </form>
	  <ion-item-divider> </ion-item-divider>
	  <form [formGroup]="server_form">
		<ion-item style = "text-align :left">
			<ion-label position="stacked">Server</ion-label>
			<ion-input type="text" formControlName="server" placeholder="Enter Server Details"></ion-input>
		</ion-item>
  	  </form>
        <ion-button type="submit" [disabled]="!login_form.valid || !server_form.valid" (click)="onlogin()" *ngIf ="!(authState$ | async)">Sign in</ion-button>
        <ion-button color="secondary" type="submit" (click)="onlogout()" *ngIf ="(authState$ | async)">Sign out</ion-button>
        <ion-button color="tertiary" type="submit" href="/home" *ngIf ="(authState$ | async)" routerDirection="back">Home</ion-button>
  <p>
  Form Value: {{ server_form.value | json }}
  </p>
  <p>
  Form Status: {{ login_form.status }}
  Form Status: {{ server_form.status }}
  </p>
  </div>
</ion-content>
