<ion-menu  side="end"  persistent="true" menuId="mainmenu" id="mainmenu" contentId="main-content">
  <ion-header>
      <ion-toolbar  color="primary">
		<ion-thumbnail slot="start">
		  <ion-img [src]="'assets/' + global.appName + '.png'"></ion-img>
		</ion-thumbnail>
        <ion-buttons slot="end">
        <ion-menu-button menuToggle auto-hide="false" menu="mainmenu"><ion-icon  name="menu"></ion-icon></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <ion-content>

  <ion-list>
	  <ion-menu-toggle menu="mainmenu" auto-hide="false"> 
		  <ion-item *ngFor="let item of (menusvc?.title | async)" (click)="navigate(item)">
			  <ion-icon [name]="item.icon" slot="start"></ion-icon>
			  <ion-label *ngIf="item.check">{{item?.title}}</ion-label>
		  </ion-item>
		  <ion-item *ngFor="let item of (menusvc?.details | async)" detail (click)="navigate(item)">
			  <ion-icon [name]="item.icon" slot="start"></ion-icon>
			  <ion-label *ngIf="item.check">{{item?.title}}</ion-label>
		  </ion-item>
      </ion-menu-toggle>
  </ion-list>
  </ion-content>
</ion-menu>
